.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.nav-links {
  display: flex;
  gap: 4em; 
  margin-top: 10px;
}

.App-header {
  background-color: #2d5cb2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.custom-font {
  font-family: 'Trebuchet MS', serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-height: 100vh;
}

.page main {
  padding: 20px;
  text-align: center;
}

.simple-nav {
  padding: 20px;
  text-align: center;
  background: #133470;
  margin-bottom: 0; 
  font-family: 'Trebuchet MS', serif;
}

.simple-nav a {
  text-decoration: none;
  color: #ecfbff;
  margin: 0 10px;
  font-size: 18px;
  font-family: 'Trebuchet MS', serif;
}

.simple-nav a:hover {
  text-decoration: underline;
}

.simple-nav span {
  color: #61dafb;
}